*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Modern Love","Berthold Types",sans-serif;
    font-weight: bold;
    position: fixed;
}
.menu, .subMenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
}
.subMenu {
    display: none;
    max-height: 0;
}
.button:target .subMenu {
    display: block;
    max-height: 100%;
}

body{
    height: 100vh;
    background-color: #1a1a1a;
    /*
    bed558 vert
    abb557
    8b9556
    909CC2 bleu ou nuage
    */
}
svg{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: -10px;
}

footer{
}