.tree {
    width: 8px;
    height: 80px;
    position: absolute;
    z-index: -3;
    bottom: 0;
}
.tree .tree-top {
    background-color: #77BC1F;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    width: 40px;
    height: 40px;
    left: -20px;
}
.tree .tree-top:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5%;
    right: 5%;
    background-color: #5f7a3c;
    border-radius: 100%;
}
.tree:nth-child(1){
    left: 100px;
}
.tree .tree-top:nth-child(2){
    top: -35px;
    left: -35px;
    width: 80px;
    z-index: 5;
}
.tree-top:nth-child(2)::after{
    border-radius: 50px 0 0 50px;
    background-color: #5f7a3c;
    width: 50%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 5;
}

.tree .tree-top:nth-child(3){
    top: -50px;
    width: 60px;
    height: 30px;
    left: -25px;
    z-index: 4;
}
.tree-top:nth-child(3)::after{
    border-radius: 50px 0 0 50px;
    background-color: #5f7a3c;
    width: 50%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 4;
}

.tree .tree-top:nth-child(4){
    top: -65px;
    width: 40px;
    height: 30px;
    left: -15px;
    z-index: 3;
}
.tree-top:nth-child(4)::after{
    border-radius: 50px 0 0 50px;
    background-color: #5f7a3c;
    width: 50%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 3;
}

.trunk {
    background-color: #9d5d5d;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.tree:nth-child(2){
    left: 200px;
}