.containPanier {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.panier {
    background: #f9ede9;
    margin: 20px;
}

.panier svg {
    width: 20px;
    height: 20px;
}

.produit {
    display: grid;
    height: 64px;
    grid-template-columns: 64px 1fr 0.25fr 0;
    margin: 15px;
    gap: 10px;
    border-radius: 8px;
}
.imagePanier > img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.produit > p {
    align-self: center;
}
.descriptif{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.descriptif > form{
    display: flex;
}
#quantite-panier{
    all: unset;
    height: min-content;
    margin-left: 20px;
}
.panier .line{
    width: 90%;
    border-top: 1px solid rgba(57, 57, 57, 0.2);
}
.panier .separator{
    display: flex;
    justify-content: center;
    align-items: center;
}