.containPanier {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.panier {
    background: #f9ede9;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.panier svg {
    width: 20px;
    height: 20px;
}

.produit {
    display: grid;
    height: 64px;
    grid-template-columns: 64px 1fr 1fr;
    margin: 15px;
    gap: 10px;
    border-radius: 8px;
}

.imagePanier > img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.descriptif {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descriptif > form {
    display: flex;
}

#quantite-panier {
    all: unset;
    height: min-content;
    margin-left: 10px;
}

.panier .line {
    width: 90%;
    border-top: 1px solid rgba(57, 57, 57, 0.2);
}

.panier .separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePanier {
    position: relative;
}

.retirerProduit {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(176, 176, 176, 0.8);
}

.retirerProduit > svg {
    width: 15px;
    height: 15px;
}

.descriptif label {
    width: max-content;
}

.total {
    margin: auto 15px 20px;
    display: flex;
    justify-content: space-between;
}

.total input {
    all: unset;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid black;
    padding: 2px;
}

.passerCommande {
    padding: 30px;
}

.commandes {
    display: flex;
    flex-direction: column;
}
.commandes label {
    font-size: 14px;
}
.commandes input[type = "text"],.commandes input[type = "email"] {
    padding: 5px 10px;
}