.collection {
    display: grid;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    gap: 30px 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    margin-bottom: 80px;
}

.path {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menutop{
    border-bottom: 1px solid #e8e8e1;

    padding: 35px 40px 35px 40px;
}
.path > h2{
    display: block;

}
.path > a {
    font-size: 12px;
}
.pathbar{
    opacity: 0.2;
}
.affichageCollection{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 25px auto;
}
.affichageCollection > p {
    letter-spacing: 1px;
}
#filtre{
    border: none;
    outline: none;
}
select{
    background-image: url("../image/ico-select.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 11px;
    appearance: none;
    font: 14px "Harmonia Sans Pro Cyr";
    padding: 8px 28px 8px 8px;
    letter-spacing: 1px;
}
.collection > .card{
}
.containSingleProduit{
    margin: 50px 0;
}